.mp-list-item {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;

  &:hover {
    background-color: #007bff;
    border-color: #007bff;

    a {
      color: #fff !important;
    }
  }
  a {
    text-decoration: none;
    color: #343a40 !important;
  }
}
